blockquote {
    --thx-blockquote-bg: $blockquote-bg;
    --thx-blockquote-border-color: $blockquote-border-color;
    --thx-blockquote-link-hover: $blockquote-link-hover;

    border-left: 3px solid var(--thx-blockquote-border-color);
    background-color: var(--thx-blockquote-bg);
    padding: 0.5rem;
    color: var(--bs-body-color);

    a {
        transition: color 0.2s ease;
        color: var(--bs-body-color);
        opacity: .7;

        &:hover {
            color: var(--thx-blockquote-link-hover) !important;
        }
    }
}

.text-accent {
    --thx-accent: $success;
    
     color: var(--thx-accent) !important;
}
.text-primary {
    --thx-accent: $success;
    color: var(--bs-primary-rgb) !important;
}