.form-control,
.form-control:focus {
    background-color: var(--bs-body-bg);
    border-color: var(--bs-btn-bg);
    color: var(--bs-body-color);
}
.form-control:disabled {
    background-color: var(--bs-body-bg);
    opacity: .75;
}