.gradient-border-xl {
    $border: 5px;
    color: #fff;
    background: #000;
    background-clip: padding-box; /* !importanté */
    border: $border solid transparent; /* !importanté */
    
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        margin: -$border; /* !importanté */
        border-radius: inherit; /* !importanté */
        background: var(--thx-gradient-border);
    }
}
.gradient-shadow:before {
    content: '';
    position: absolute;
    inset: -15px; /* control the spread */
    z-index: -1; /* place the element behind */
    background: linear-gradient(-45deg, rgb(162, 0, 255), rgb(52, 17, 177));
    filter: blur(15px); /* control the blur */
}

.gradient-shadow-xl:before {
    content: '';
    position: absolute;
    inset: -35px; /* control the spread */
    z-index: -1; /* place the element behind */
    background: linear-gradient(-45deg, rgb(162, 0, 255), #5942c1, rgb(52, 17, 177));
    filter: blur(35px); /* control the blur */
    opacity: 0.75;
}