$blockquote-border-color: $purple;
$blockquote-bg: $purple-darker;
$blockquote-link-hover: $white;
$navbar-bottom-border-color: $purple-darker;
$navbar-bottom-bg: $purple-dark;
$navbar-bottom-color: $white;
$navbar-bottom-bg-active: $purple;
$navbar-top-color: $white;
$widget-body-bg: $purple-darker;