.form-control,
.form-control:focus {
    background-color: var(--bs-body-bg);
    border-color: var(--bs-btn-bg);
    color: var(--bs-body-color);
}
.form-control:disabled {
    background-color: var(--bs-body-bg);
    opacity: .75;
}
.was-validated .form-control:valid, .form-control.is-valid,
.was-validated .form-control:invalid, .form-control.is-invalid {
    background-size: calc(0.5em + 0.5rem) calc(0.5em + 0.5rem);
}

fieldset {
    .col-form-label {
        padding-bottom: .3rem;
    }

    margin-bottom: .7rem;
}

.cursor-pointer{
    cursor:pointer
}

hr.or-separator:after {
    content: 'OR';
    background: $body-bg;
    color: $body-color;
    width: 40px;
    font-size: .8rem;
    margin-top: -.7rem;
    margin-left: -20px;
    left: 50%;
    text-align: center;
    position: absolute;
  }