.b-tooltip {
    opacity: 1 !important;

    .tooltip-arrow:before {
        border-top-color: var(--bs-primary) !important;
    }
    
    .tooltip-inner {
        max-width: 280px;
        background-color: var(--bs-primary) !important;
        text-align: left;
        padding: .75rem;
        color: var(--bs-body-color) !important;      
    }
}