$blockquote-border-color: $primary;
$blockquote-bg: $light;
$blockquote-link-hover: $dark;
$navbar-bottom-border-color: $gray-300;
$navbar-bottom-bg: $light;
$navbar-bottom-color: $dark;
$navbar-bottom-bg-active: $gray-300;
$navbar-top-color: $dark;
$widget-body-bg: $light;
$badge-point-price-bg: $dark;
$modal-border-color: $light;