.card-title {
    font-size: 1rem;

    .me-2 {
        display: flex;
        align-items: center;
    }
}

.card-text {
    opacity: 0.7;
}

.card-promoted {
    border: 5px solid $orange;
    border-radius: 10px;
    box-shadow: 0 0 10px $orange;

    .card-title {
        color: $orange;

        .text-accent {
            color: $orange !important;
        }
    }
}

.btn-share {
    width: 30px;
    height: 30px;
    color: white;
    border: 0;

    &:hover {
        color: white;
    }
}