.modal-header,
.modal-footer {
    border-top-color: $modal-border-color;
    border-bottom-color: $modal-border-color;
    background-color: $modal-bg-color;
    color: $modal-color;
}

.modal-body {
    background-color: $modal-bg-color;
    color: $modal-color;
}

.modal-header {
    color: $success;
    
    .btn-close {
        background: $modal-close-bg;
    }
}