.bg-splash {
    height: 40vh;
    width: 100%;
    position: absolute;
    top: 0;
    background-size: cover;
    background-position: center center;

    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 65%;
        background: linear-gradient(transparent, var(--bs-body-bg));
    }
}

.navbar-top {
    background-position: -100px -50px;
    background-repeat: no-repeat;
    
    .btn {
        transition: opacity ease 0.2s;
        opacity: 0.8;
        color: var(--bs-body-color);

        &:hover {
            opacity: 1;
        }

        &.dropdown-toggle-no-caret:after {
            content: unset;
        }
    }

    .points {
        color: var(--bs-body-color);
    }

    @media (min-width: map-get($grid-breakpoints, 'lg')) {
        border-radius: 10px;
        background-color: var(--thx-navbar-bg) !important;
    }
}

.navbar-logo {
    height: auto;
    max-height: 50px;
    max-width: 100px;
}

.navbar .fa-bell {
    animation: shake 10s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }
    95% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    96% {
        transform: translate(-2px, 1px) rotate(0deg);
    }
    97% {
        transform: translate(2px, 1px) rotate(-1deg);
    }
    98% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    99% {
        transform: translate(1px, 2px) rotate(-1deg);
    }
    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}


.navbar-bottom {
    padding: 0.5rem;
    border-top: 1px solid var(--thx-navbar-border-color);
    background-color: var(--thx-navbar-bg);

    .container-fluid {
        padding: 0;
    }

    a {
        margin: 0;
        line-height: 1;
        width: 70px;
        height: 70px;
        align-items: center;
        justify-content: center;
        display: flex;
        color: $navbar-bottom-color;
        text-decoration: none;
        border-radius: 8px;
        font-size: 0.9rem;
        flex-flow: column;

        i {
            font-size: 1.3rem;
            margin-bottom: 0.5rem;
            opacity: 0.5;
            transition: opacity ease 0.2s;
        }

        &:hover i {
            opacity: 1;
        }

        &.router-link-active {
            background-color: var(--thx-navbar-btn-bg);
            color: var(--thx-navbar-btn-color);
            
            i {
                opacity: 1;
            }                
        }
    }
    
    @media (min-width: map-get($grid-breakpoints, 'lg')) {
        flex-direction: row;
        border-radius: 10px;
        
        .container-fluid {
            justify-content: end;
        }

        a {
            width: auto;
            height: 50px;
            margin: 0 .5rem;
            padding: 0 1rem;
            align-items: center;
            flex-flow: row;        
            
            i {
                opacity: .5 !important;
                margin: 0;
                margin-right: .5rem !important;
            }

            div {
                font-size: 1rem;
                font-weight: bold;
            }
        }
    }
}

.flex-grow-1.overflow-auto  {
    @media (min-width: map-get($grid-breakpoints, 'lg')) {
        flex-grow: 0 !important;
        overflow: visible !important;
    }
}