.navbar-top {
    background-position: -100px -50px;
    background-repeat: no-repeat;
    
    .btn {
        transition: opacity ease 0.2s;
        opacity: 0.8;
        color: $navbar-top-color;

        &:hover {
            opacity: 1;
        }

        &.dropdown-toggle-no-caret:after {
            content: unset;
        }
    }

    .points {
        color: var(--bs-body-color);
    }
}

.navbar-bottom {
    --thx-navbar-bg: $navbar-bottom-bg;
    --thx-navbar-btn-active-bg: $navbar-bottom-bg-active;
    --thx-navbar-bottom-border-color: $navbar-bottom-border-color;

    padding: 0.5rem;
    border-top: 1px solid var(--thx-navbar-bottom-border-color);
    background-color: var(--thx-navbar-bg);

    .container-fluid {
        padding: 0;
    }

    a {
        margin: 0;
        line-height: 1;
        width: 70px;
        height: 70px;
        align-items: center;
        justify-content: center;
        display: flex;
        color: $navbar-bottom-color;
        text-decoration: none;
        border-radius: 8px;
        font-size: 0.9rem;

        i {
            font-size: 1.3rem;
            margin-bottom: 0.5rem;
            opacity: 0.5;
            transition: opacity ease 0.2s;
        }

        &:hover i {
            opacity: 1;
        }

        &.router-link-active {
            background-color: var(--thx-navbar-btn-active-bg);
            color: var(--thx-navbar-btn-color);
            
            i {
                opacity: 1;
            }                
        }
    }
}