$blockquote-border-color: var(--bs-blockquote-border-color);
$blockquote-bg: $purple-darker;
$blockquote-link-hover: $white;
$navbar-bottom-border-color: $purple-darker;
$navbar-bottom-bg: $purple-dark;
$navbar-bottom-color: $white;
$navbar-bottom-bg-active: $purple;
$navbar-top-color: $white;
$widget-body-bg: $purple-darker;
$badge-point-price-bg: $dark;
$modal-border-color: $purple;
$modal-bg-color: $purple-darker;
$modal-color: $white;
$modal-close-bg: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFF'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;