.card-header {
    transition: background-color ease .15s;
    border: 0;
    border-radius: var(--bs-card-inner-border-radius) !important;

    &:hover {
        background-color: var(--thx-card-header-hover-bg);
    }
}

.card-collapsed .card-header {
    border-radius: var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius) 0 0 !important;
    border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

.card-title {
    font-size: 1rem;

    .me-2 {
        display: flex;
        align-items: center;
    }
}

.card-text {
    opacity: 0.7;
}

.card-promoted {
    border: 5px solid $orange;
    border-radius: 10px;
    box-shadow: 0 0 10px $orange;

    .card-title {
        color: $orange;

        .text-accent {
            color: $orange !important;
        }
    }
}

.card .btn-group .btn-primary.dropdown-toggle {
    border-top-right-radius: var(--bs-btn-border-radius);
    border-bottom-right-radius: var(--bs-btn-border-radius);
}

.btn-share {
    width: 30px;
    height: 30px;
    color: white;
    border: 0;

    &:hover {
        color: white;
    }
}
.card-campaign {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    transform: 0;
    transition: 0.2s transform ease;
}
.card-header-campaign {
    overflow: hidden;
    position: relative;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-header-content {
    z-index: 1;
    text-align: center;
}

.card-header-bg {
    background-image: radial-gradient(var(--bs-primary), var(--bs-body-bg));
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    filter: blur(.25rem);
    -webkit-filter: blur(.25rem);
    transition: filter .2s ease, -webkit-filter .2s ease;
}

.card-campaign:hover .card-header-bg {
    filter: none;
    -webhkit-filter: none;
}

@media (min-width: map-get($grid-breakpoints, 'md')) {
    .list-group-overflow {
        max-height: 210px;
        overflow: auto;
    }
}