:root[data-theme='dark'] {
    --body-rewards-bg: #151415;
    --home-background: linear-gradient(178deg, #151415 -37.16%, #0E0D10 98.54%);
    --body-text: #ffffff;
    --title-color: #E4E5E9;
    --dropdown-background: #202020;
    --dropdown-border-color: #292929;
    --avatar-background: rgba(131, 75, 196, 0.5);
    --modal-title-color: #d4d4d4;
    --modal-bg: #15171a;
    --nav-link-bg: #202020;
    --nav-link-active-bg: rgba(255, 255, 255, 0.03);
    --nav-border-color: #414141;
    --border-as-nav-color: #151415;
    --btn-primary-santa: linear-gradient(227deg, #B13434 62.23%, #D84F4F 144.78%, #9368B7 162.03%);
    --btn-primary-santa-hover: linear-gradient(48deg, #B13434 18.58%, #D84F4F 125.78%);
    --btn-sidebar-bg: rgba(27, 27, 27, 0.4);
    --btn-sidebar-active-bg: #d44646;
    --btn-sidebar-color: #CACACA;
    --btn-sidebar-border-color: #1d1d1d;
    --discord-bg: #000;
    --discord-border-color: transparent;
    --discord-highlight-color: linear-gradient(180deg, #d2cc52 0%, #ccc300 100%);
    --main-content-border: #1a1a1a;
    --main-content-bg: #151515;
    --quest-item-bg: #202020;
    --scroll-track-bg: #393939;
    --scroll-thumb-bg: #49494b;
    --reward-item-bg: linear-gradient(
        182deg,
        rgba(189, 189, 189, 0.2) -17.86%,
        rgba(81, 81, 81, 0.15) 36.23%,
        rgba(42, 42, 42, 0.18) 98.68%
    );
    --reward-title-color: #e7e7e7;
    --quest-daily-item-bg: rgba(255, 255, 255, 0.05);
    --navbar-bottom-bg: #181818;
    --navbar-bottom-selected-bg: linear-gradient(270deg, #5D2A2A 0%, #944 100%);
    --navbar-bottom-default-bg: rgba(255, 255, 255, 0.02);
    --navbar-bottom-color: #B7B7B7;
    --green-highlight-color: #1BFF2E;
    --modal-text-color: #cdcdcd;
    --balance-box-bg: linear-gradient(227deg, #2E2E2E 62.23%, #272020 144.78%, #000 162.03%);
    --border-tab-gradient: linear-gradient(90deg, #414141 0%, rgba(198, 196, 196, 0) 100%);
    --btn-disabled-bg: linear-gradient(227deg, #2E2E2E 62.23%, #272020 144.78%, #000 162.03%);
    --btn-disabled-border: rgba(255, 255, 255, 0.07);
    --btn-disabled-color: inherit;

    --about-header-color: #D4D4D4;
    --about-nav-item-color: #8E8E8E;
    --about-nav-item-active-color: #c0c0c0;
    --about-title-color: #d4d4d4;
    --about-subtitle-color: #C9C9C9;
    --about-mob-nav-bg: rgba(255, 255, 255, 0.06);
    --image-modal-backdrop: rgba(0, 0, 0, 0.8);
    --reward-supply-text: #4B4B4B;
    --reward-supply-green: #01E057;
    --reward-supply-limit: #D1D1D1;
    // Add other dark theme variables as needed
    
}
