html,
body,
#app,
#main {
    height: 100dvh;
}

body {
    overflow: hidden;
}

#app {
    top: 0;
}

.text-opaque {
    //opacity: .5 !important;
}

.grecaptcha-badge {
    visibility: hidden !important;
}

.container-fluid-s {
    max-width: 100% !important;
}
