.b-tooltip {
    opacity: 1 !important;

    .tooltip-arrow:before {
        border-top-color: var(--dropdown-border-color) !important;
    }

    .tooltip-inner {
        max-width: 150px;
        background: var(--home-background) !important;
        text-align: left;
        padding: 0.75rem;
        color: var(--modal-text-color) !important;
        box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.354);
        border: 1px solid var(--dropdown-border-color);
    }
}
.skeleton-loader {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.skeleton-item {
    &:nth-child(odd) {
        background-color: var(--quest-item-bg);
    }
    &:nth-child(even) {
        background-color: var(--main-content-bg);
    }
}

.skeleton-avatar,
.skeleton-username {
    background-color: #c0c0c0;
    border-radius: 4px;
    animation: pulse 1.5s infinite;
}

.skeleton-rank {
    width: 30px;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.skeleton-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0 10px;
}

.skeleton-username {
    flex-grow: 1;
    height: 20px;
}

.reward-info-wrap {
    position: relative;
    display: inline-block;

    .tooltip-text {
        visibility: hidden;
        width: 150px;
        background: var(--home-background);
        color: var(--modal-text-color);
        text-align: center;
        padding: 10px;
        border-radius: 8px;
        position: absolute;
        top: 125%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.3s;
        font-size: 12px;
        z-index: 10;
        border: 1px solid var(--dropdown-border-color);
        box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.2);
        text-shadow: none;

        &::after {
            content: '';
            position: absolute;
            top: -12px;
            left: 47%;
            transform: translateX(-53%);
            border-width: 6px;
            border-style: solid;
            border-color: transparent transparent var(--dropdown-border-color) transparent;
        }
    }

    &:hover .tooltip-text {
        visibility: visible;
        opacity: 1;
    }
}
